{% extends 'base.html' %}
{% load static %}


{% block main %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<div class="furniture-container">
  {% for item in furniture %}
    <div class="furniture-item">
      <img src="{{ item.photo.url }}" alt="{{ item.name }}">
      <h2>{{ item.name }}</h2>
      <p>{{ item.description|truncatewords:20}}</p>
      <ul>
          <li>{{ item.characteristics|truncatewords:20 }}</li>
      </ul>
      <p>Price: ${{ item.price }}</p>
      <p>Category: {{ category.name }}</p>
        <a href="{% url 'detail' item.pk %}">More</a>
      <button data-product={{ item.pk }} data-action='add' class="update-cart">Add to Cart</button>
    </div>
  {% empty %}
    <p>No furniture found for this category.</p>
  {% endfor %}
</div>

<style>
.furniture-container {
  display: flex;
  flex-wrap: wrap;
  height: 600px; /* adjust to your desired height */
}

.furniture-item {
  flex: 1 1 auto;
  max-width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.furniture-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

</style>


{% endblock %}